Package: love.litten.libkitten
Name: libKitten 🐱
Depends: firmware (>= 12.0)
Version: 1.2.1
Architecture: iphoneos-arm
Description: Library to get three different colors from an image and detect if one is light or dark
Maintainer: Litten
Author: Litten
Section: System
Tag: role::developer
Depiction: https://repo.litten.love/depictions/libktn/index.html
SileoDepiction: https://repo.litten.love/depictions/libktn/libktn.json
Icon: https://repo.litten.love/depictions/libktn/assets/icon.png
